@import 'base/configs';
@import 'base/base';

@font-face {
  font-family: 'Gotham Pro Medium';
  src: url('../fonts/GothamPro-Medium.eot');
  src: url('../fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamPro-Medium.woff') format('woff'), url('../fonts/GothamPro-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  overflow-x: hidden;
}

p {
  color: $COLOR_TEXT;
  font-family: 'Work Sans';
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 1.63;
}

.btn {
  background-image: linear-gradient(to right, $COLOR_ORANGE, #ff8e1d);
  border-radius: 20px;
  color: $COLOR_WHITE;
  border: none;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.3px;
  min-width: 160px;
  text-align: center;
  font-weight: 500;
  padding: 5px;

  &:focus {
    box-shadow: none;
  }
   
  a {
    color: $COLOR_WHITE;
    &:hover {
      text-decoration: none;
    }
  }
}

.title {
  font-family: 'Gotham Pro Medium';
  font-size: 45px;
  font-weight: bold;
  line-height: 1.22;
}

.title-secondary {
  font-size: 35px;
  letter-spacing: 0.5px;
  line-height: 0.71;
  margin-bottom: 40px;
  font-family: 'Gotham Pro Medium';
}

.circle-container {
  position: relative;
  margin-top: 160px;
}

.circle {
  border: 8px solid red;
  border-radius: 50%;
  position: absolute;

  &.orange {
    width: 84px;
    height: 84px;
    right: -66px;
    top: -88px;
    border-color: $COLOR_ORANGE;
  }
}

.navbar-expand-lg .navbar-nav a.nav-link {
  padding-left: 55px;
}

.items-list {
  ul {
    padding-left: 0;
    list-style: none;

    li {
      margin-left: 16px;
      position: relative;
      color: $COLOR_TEXT;
    }

    li:before {
      content: "";
      position: absolute;
      top: 8px;
      left: -16px;
      width: 8px;
      height: 8px;
      display: inline-block;
      background: $COLOR_BLUE;
      border-radius: 50%;
    }
  }

  h4 {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.39;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: $COLOR_BLACK;
    font-family: 'Gotham Pro Medium';
  }
}

.header {
  &:before {
    content: '';
    width: 100%;
    height: 800px;
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../img/header-bg.png');
  }

  a {
    font-size: 16px;
  }

  .navbar-dark {
    .navbar-toggler {
      border: none;
    }

    .navbar-nav {
      text-align: right;
      padding-right: 15px;

      a.nav-link {
        display: inline-flex;
      }
    }
  }
}

.header-section {
  background: url('../img/full-pic.svg');
  background-repeat: no-repeat;
  background-size: 60vw;
  background-position: 90% 15%;
  position: relative;
  padding: 80px 0;
  margin-bottom: 240px;

  .title {
    width: 440px;
    letter-spacing: 2px;
  }

  p {
    padding: 25px 0;
    max-width: 300px;
  }

  img {
    max-width: 125%;
  }

  .card-message {
    width: 100px;
  }
}

.start-ico-title {
  p {
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
  }
}

.start-ico-section {
  margin-top: 40px;
  position: relative;

  .main-graphics {
    display: initial;
  }

  .mobile-graphics {
    margin-top: 40px;
    display: none;
  }

  h3 {
    font-size: 17px;
    margin-top: 10px;
    line-height: 1.47;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    font-family: 'Gotham Pro Medium';

    &:after {
      content: '';
      display: block;
      width: 55px;
      height: 2px;
      border-radius: 1px;
      background-color: $COLOR_ORANGE;
      margin: 17px auto;
    }
  }

  .dark-blue h3:after {
    background-color: $COLOR_DARK_BLUE
  }

  .blue h3:after {
    background-color: $COLOR_BLUE
  }

  .light-blue h3:after {
    background-color: $COLOR_LIGHT_BLUE
  }

  .green h3:after {
    background-color: $COLOR_GREEN
  }

  .yellow h3:after {
    background-color: $COLOR_YELLOW
  }

  .orange h3:after {
    background-color: $COLOR_ORANGE
  }
}

.security-section {
  margin-bottom: 80px;
}

.launch-packages-section {
  padding-top: 100px;
  background-image: url('../img/top.svg'),
    url('../img/bottom2.svg'),
    url('../img/ico-launch-pack-bg2.png');
  background-repeat: no-repeat,
    no-repeat,
    no-repeat;
  background-size: 40%,
    40%,
    cover;
  background-position: 120% 0%,
    -20% 100%,
    center;

  .packages-title-section {
    padding-top: 150px;

    p {
      margin-top: 20px;
      margin-bottom: 30px;
      color: #b7d2ff;
    }
  }

  .graphics {
    position: relative;
  }

  #packages-top {
    position: absolute;
    right: -25vw;
    max-width: 50%;
    z-index: 0;
  }

  #packages-bottom {
    position: absolute;
    left: -25vw;
    top: 600px; // hardcoded
    max-width: 49%;
    z-index: 0;
  }
}

.launch-packages-form {
  background: $COLOR_WHITE;
  border-radius: 10px;
  padding: 60px 30px;
  box-shadow: -1px -1px 5px -1px #000;

  &.first {
    margin-bottom: 100px;
  }

  h3 {
    font-size: 25px;
    font-family: 'Gotham Pro Medium';
    line-height: 1.2;
    padding-left: 30px;
    padding-bottom: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
  }

  button {
    margin-top: 40px;
    margin-left: 30px;
    width: 200px;
  }
}

.container-packages {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 11px;
  cursor: pointer;
  line-height: 1.56;
  letter-spacing: 0.2px;

  span {
    font-size: 18px;
    font-family: 'Gotham Pro Medium';
    line-height: 1.39;
    letter-spacing: 0.3px;
    color: $COLOR_BLACK;
    text-transform: uppercase;
  }
}

.specialists-section {
  .item-col {
    width: 20%;
  }

  margin: 200px auto;

  h1 {
    margin-bottom: 60px;
  }

  h3 {
    font-size: 16px;
    line-height: 1.56;
    letter-spacing: 0.2px;
    text-align: center;
    color: $COLOR_TEXT;
    margin-top: 20px;
  }

  img {
    width: 80%;
  }
}

.complete-ico-section {
  background-image: url('../img/why-complete-bg.svg'), url('../img/why-complete-bg.png');
  background-size: auto;
  background-position-x: center;
  background-repeat: no-repeat;
  padding-bottom: 100px;

  h1 {
    margin-top: 150px;
    margin-bottom: 60px;
  }

  .animation-graph {
    width: 100%;
    height: 100%;
    position: absolute;

    path.path {
      transform: rotate(-55deg);
      transform-origin: center;
    }

    .path {
      stroke-dasharray: 1000;
    }
  }

  .ico-column {
    background-repeat: no-repeat;
    max-height: 250px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 74px;
  }
}

.faq {
  margin-top: 200px;

  h1 {
    margin-bottom: 65px;
  }

  button {
    background: none;
    border: none;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .card {
    border: none;
    margin-bottom: 10px;
    box-shadow: 0px 2px 1px 0 #b5b5b5;

    &-header {
      background: #f7f7f7;
      padding: 16px 30px;
      border: none;
    }

    &-body {
      background: #f7f7f7;
      padding-left: 90px;
      padding-top: 0px;
    }
  }

  h5 {
    button {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.56;
      letter-spacing: 0.2px;
      color: $COLOR_BLACK;
      padding: 0;

      &:focus {
        outline: none;
      }
    }

    i {
      font-size: 25px;
      vertical-align: middle;
      margin-right: 20px;
      color: #979696;
      -webkit-text-stroke: 2px #f7f7f7;
    }
  }
}

.contact-section {
  margin-top: 180px;
  margin-bottom: 150px;

  input {
    border: none;
    width: 45%;
    border-bottom: 1px solid $COLOR_TEXT_LIGHT;
    color: $COLOR_TEXT_LIGHT;
    padding-bottom: 5px;
    // margin-right: 15px;

    &:focus {
      outline: none;
      border-bottom: 1px solid $COLOR_BLACK;
      color: $COLOR_BLACK;
    }

    &:-webkit-input-placeholder {
      color: $COLOR_TEXT_LIGHT;
    }
  }

  p {
    padding-top: 17px;
    margin-bottom: 70px;
  }

  .btn {
    display: block;
    width: 200px;
    margin: 50px auto
  }

  .contact-form {
    width: 87%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    form {
      width: 100%;
    }

    form div {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .dropdown {
    width: 100%;
    margin-bottom: 40px;

    .nice-select {
      width: 100%;
      color: #a1a1a1;
      border: none;
      border-bottom: 1px solid #a1a1a1;
      border-radius: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: 'Work Sans';
      font-size: 16px;
      font-weight: 400;
      padding: 0;

      &:after {
        // display: none;
        height: 11px;
        width: 10px;
      }

      &.open {
        color: black;
        border-color: black;

        &:after {
          border-color: #ff8e1d
        }
      }

      &:focus {
        box-shadow: none;
      }

      &:active {
        color: black;
        background: none;
        box-shadow: none;
      }

      .list {
        padding: 10px 0px;
        width: 100%;
        margin-top: 10px;
        border-radius: 0;
        border: none;
        box-shadow: -1px -1px 17px -1px #ccc;

      }
    }
  }
}

footer {
  background-image: url('../img/top-footer.svg'),
    url('../img/bottom-footer.svg'),
    url('../img/footer-bg.png');
  background-repeat: no-repeat,
    no-repeat,
    no-repeat;
  background-size: 25%, 28%, cover;
  background-position: 110% 10%, -19% 80%, center;
  overflow: hidden;

  .social {
    padding-top: 40px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    div {
      padding: 10px;
    }
  }

  p {
    margin-bottom: 0;
    padding-bottom: 45px;
  }

  .graphics {
    position: relative;
  }

  #footer-bottom {
    position: absolute;
    max-width: 25%;
    left: 0;
    top: -170px;
    transform: rotate(105deg);
  }

  #footer-top {
    position: absolute;
    max-width: 25%;
    right: -60px;
    top: -40px;
  }
}

@mixin bubble($width, $left, $right, $top, $bottom, $color) {
  width: $width;

  @if $left !='' {
    left: $left;
  }

  @if $right !='' {
    right: $right;
  }

  @if $top !='' {
    top: $top;
  }

  @if $bottom !='' {
    bottom: $bottom;
  }
}

.bubble {
  position: absolute;
  z-index: -1;

  &.bubble-1 {
    @include bubble(70px, '', -30px, -70px, '', $COLOR_ORANGE);
  }

  &.bubble-2 {
    @include bubble(150px, -20px, '', -70px, '', $COLOR_LIGHT_BLUE);
  }

  &.bubble-3 {
    @include bubble(130px, '', -75px, -105px, '', $COLOR_LIGHT_BLUE);
  }

  &.bubble-4 {
    @include bubble(80px, -60px, '', '', -20px, $COLOR_ORANGE);
  }

  &.bubble-5 {
    @include bubble(130px, '', -75px, '', -70px, $COLOR_LIGHT_BLUE);
  }

  &.bubble-6 {
    @include bubble(80px, 60px, '', '', -20px, $COLOR_ORANGE);
  }

  &.bubble-7 {
    @include bubble(80px, -20px, '', '', 70px, $COLOR_ORANGE);
  }

  &.bubble-8 {
    @include bubble(130px, '', -50px, -55px, '', $COLOR_LIGHT_BLUE);
  }

  &.bubble-9 {
    @include bubble(80px, '', -50px, '', 20px, $COLOR_ORANGE);
  }

  &.bubble-10 {
    @include bubble(130px, -50px, '', -65px, '', $COLOR_LIGHT_BLUE);
  }

  &.bubble-11 {
    @include bubble(130px, '', -20px, -40px, '', $COLOR_LIGHT_BLUE);
  }
}


// Custom animations

@keyframes zoom-in-out {

  from,
  to {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }

  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.zoom-in-out {
  transform-origin: center;
  animation-name: zoom-in-out;
}

@keyframes zoom-out-in {

  from,
  to {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }

  50% {
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
  }
}

.zoom-out-in {
  transform-origin: center;
  animation-name: zoom-out-in;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.dash {
  animation-name: dash;
  animation-duration: 5s;
}

@media (max-width: 1520px) {
  .launch-packages-section {
    background-size: 35%,
      40%,
      cover;
    background-position: 120% 2%,
      -20% 80%,
      center;
  }
}

@media (min-width: 1520px) {
  .header-section {
    background-size: inherit;
  }
}

@media (max-width: 1024px) {
  .bubble.bubble-5 {
    right: -30px;
  }

  .bubble.bubble-8,
  .bubble.bubble-9 {
    right: -10px;
  }

  .navbar-light .navbar-toggler-icon {}
}

@media (max-width: 991px) {
  .title {
    font-size: 37px;
  }

  .start-ico-section {
    h3 {
      font-size: 14px;
    }

    p {
      text-align: center;
      width: 90%;
      font-size: 13px;
    }
  }

  main {
    overflow: hidden;
  }
}

@media (max-width: 767px) {
  .complete-ico-section {
    p {
      width: 100%;
    }
  }

  p {
    font-size: 13px;
  }

  .start-ico-section {
    margin-top: 30px;

    h3 {
      text-align: left;

      &:after {
        margin: 5px 0 0 0;
      }
    }

    p {
      text-align: left;
    }

    .main-graphics {
      display: none;
    }

    .mobile-graphics {
      display: initial;
    }

    .how-to-item {
      margin-bottom: 0px;
      height: 144px;
      visibility: visible !important;
      animation-delay: 0s !important;

      // height: 120px;
      // margin: 5px 0;
    }
  }

  .specialists-section {
    margin: 140px auto;

    .item-col {
      width: 100%;
      flex-basis: auto;

      img {
        width: 31%;
      }

      h3 {
        margin-top: 0px;
        margin-bottom: 25px;
      }

    }
  }

  .title {
    font-size: 33px;
  }

  .bubble {

    &.bubble-1 {
      @include bubble(36px, '', 20px, 30px, '', $COLOR_ORANGE);
      z-index: 1;
    }

    &.bubble-2 {
      @include bubble(70px, -20px, '', -10px, '', $COLOR_LIGHT_BLUE);
      z-index: 1;
    }

    &.bubble-3 {
      @include bubble(70px, 10px, '', 40px, '', $COLOR_LIGHT_BLUE);
      z-index: 1;
    }

    &.bubble-4 {
      @include bubble(36px, 30%, '', -14px, '', $COLOR_ORANGE);
      z-index: 1;
    }

    &.bubble-5 {
      @include bubble(70px, 10px, '', '', -165px, $COLOR_LIGHT_BLUE);
    }

    &.bubble-6 {
      @include bubble(36px, 80%, '', '', 235px, $COLOR_ORANGE);
      z-index: 1;
    }

    // &.bubble-7 {
    //   @include bubble(80px, -20px, '', '', 70px, $COLOR_ORANGE);
    // }

    &.bubble-8 {
      @include bubble(70px, 10px, '', -20px, '', $COLOR_LIGHT_BLUE);
    }

    &.bubble-9 {
      @include bubble(36px, 10px, '', '', 0px, $COLOR_ORANGE);
      z-index: 1;
    }

    &.bubble-10 {
      @include bubble(70px, 10px, '', -10px, '', $COLOR_LIGHT_BLUE);
    }

    &.bubble-11 {
      @include bubble(70px, 10px, '', 80%, '', $COLOR_LIGHT_BLUE);
    }
  }

  .launch-packages-section .packages-title-section {
    padding-top: 40px;
    padding-bottom: 75px;
    margin-bottom: -75px;
  }

  .launch-packages-section .container-packages {
    font-size: 13px;

    span {
      font-size: 13px;
    }
  }

  .launch-packages-form.first {
    margin-bottom: 50px;
  }

  .launch-packages-form h3 {
    font-size: 19px;
  }

  .complete-ico-section {
    background: #f4f4f4;
  }

  .contact-section input {
    width: auto;
    padding: 5px;
    font-size: 17px;
  }

  .faq h5 button {
    display: flex;
    text-align: left;
  }

  .title-secondary {
    font-size: 30px;
    line-height: 1;
  }
}


@media (max-width: 575px) {
  .title {
    font-size: 22px;
    width: 70%;
    margin: 0 auto;
  }

  .title-secondary {
    font-size: 22px;
    margin: 25px;
    text-align: center;
  }

  .header:before {
    height: 821px;
  }

  .items-list h4 {
    margin-top: 37px;
    font-size: 15px;
  }

  .items-list li {
    font-family: 'Work Sans';
    font-size: 13px;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 1.63;
  }

  .header-section {
    background: url(../img/full-pic.svg) 48% 96% no-repeat;
    background-size: 85vw;
    padding-bottom: 240px;
    padding-top: 50px;
    margin-bottom: 70px;

    .col-12 {
      text-align: center;
    }

    p {
      max-width: 90%;
      margin: 0 auto;
    }

    .title {
      width: 70%;
    }
  }

  .start-ico-title p {
    margin: 25px auto 0;
    text-align: center;
  }

  .complete-ico-section {
    background-image: url(../img/why-complete-bg.svg), url(../img/why-complete-bg.png);
    background-size: 100% 100%;
    background-position: center;

    h1 {
      margin-top: 60px;
      margin-bottom: 20px;
    }

    p {
      width: 100%;
      text-align: center;
    }

    .ico-column {

      padding: 50px;
    }
  }

  .launch-packages-section {
    padding-bottom: 50px;
    background-size: 50%, 58%, cover;
    background-position: 140% 93px, -54% 84%, center;
  }

  .launch-packages-form {
    margin: 15px;
    padding: 20px 15px;
    flex: auto;
  }


  .specialists-section {
    margin: 0px auto;
    margin-bottom: 100px;

    h1 {
      margin-bottom: 20px;
    }

    .item-col {
      width: 33%;

      img {
        width: 90px;
      }
    }
  }

  .faq {
    margin-top: 100px;

    h1 {
      margin-bottom: 20px;
    }

    .card-body {
      padding-left: 52px;
      color: #525151;
      font-size: 13px;
    }

    .card-header {
      padding-left: 10px;
      font-size: 13px;
    }

    button {
      font-weight: 600;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .contact-section {
    margin-bottom: 100px;
    margin-top: 70px;

    form {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    p {
      margin-bottom: 50px;
    }

    input {
      width: 45%;
      margin-right: 0px;
      border-bottom: 1px solid #ccc;
      color: #ccc;
    }
  }

  .circle-container {
    margin-top: 90px;
  }

  .order-1 img {
    width: calc(100% + 30px);
    margin-left: -15px;
    max-width: initial;
  }

  footer {
    .social {
      padding-top: 20px;
      margin-bottom: 20px;
    }

    p {
      margin-bottom: -8px;
    }

    background-size: 39%,
    47%,
    cover;
    background-position:123% -33%,
    -46% 52%,
    center;
  }

  .security-section {
    margin-bottom: 0px;
  }
}

.nice-select .option.disabled {
  display: none;
}
.nice-select .option.focus, .nice-select .option.selected.focus, .nice-select .option:hover {
  background-color: initial;
}
.nice-select .option.selected {
  font-weight: 400;
}